.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .heading {
    font-size: 4rem;
    color: white;
    white-space: nowrap;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
  }
  .cicadalogo {
  }
}
