@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'config';

/**
 * Breakpoints
 */
@import 'utilities/breakpoint';
/**
 * Utitily classes
 */
@import 'utilities/background';
@import 'utilities/color';
@import 'utilities/text_color';
@import 'utilities/text_size';
@import 'utilities/font_weight';
@import 'utilities/reset_button';

body {
  background-color: var(--clr-background);
}

.toast-custom {
  background: var(--clr-toast);
  color: var(--clr-text-primary);
}
.toast-progress-custom {
  background: var(--clr-primary);
}
